extends baseEmail

block content
  p Olá #{firstName},
  p Esqueceu sua password? Clique no botão a baixo, para prosseguir com a recuperação da sua conta.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Redefinir password
  p Se você não esqueceu sua senha, ignore este e-mail!
